body {
    padding: 0;
    margin: 0;
    background-color: #f8e36b;
    font-family: sans-serif;
}

.moldura {
    /* background-color: red; */
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}
.moldura img {
    width: 30%;
    box-shadow: -5px 10px 20px -5px black;
}
h1 {
    text-align: center;
    margin: 0;
}
ul {
    text-align: left;
    text-decoration: none;
    padding: 0 0 0 20%;
}
li {
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    /* position: absolute;
    left: 50%; */
    /* transform: translate(50%, 0); */
}
li span {
    font-weight: 900;
}