{% extends "base.html" %}

{% block title %}
    Testando aqui
{% endblock %}

{% block body %}
    <h1>Carfinder</h1>
    <form action="/" method="GET">
        <input type="text" name="q">
    </form>
    {% if result == False %}
        <h1>Batata</h1>
    {% elif result == "Lasanha" %}
        <h1>{{result}}</h1>
    {% else %}
        {% for car in result %}
            <h1>{{car}}</h1>
        {% endfor %}
    
    {% endif%}
    <!-- <script>
        function mostrarOpcoes(){
            
        }
    </script> -->
{% endblock %}